// We will develop the functions of our sass
// Transformation of px to em
@function em($element, $context:16px) {
    @if type-of($element)==number and unit($element)=='px' {
        @return ($element /$context) * 1em;
    }
}

// Transformation of px to rem
@function rem($element) {
    @if type-of($element)==number and unit($element)=='px' {
        @return ($element /16px) * 1rem;
    }
}

// Color palette
$colors: ( dark: #000, whites: #FFF, dark-gray:#222, light-gray:#DDD, grays: #999);
// function of colors
@function color($color) {
    @return map-get($colors, $color);
}

// Variable of the width maximum

$max-width : 1200px;

@mixin container(){
	display: block;
	width: 100%;
	margin: auto;
	background-color: #EEE;
}

@mixin item(){
	display: block;
	padding: 16px;
	padding: rem(16px);
	background-color: #CCC;
}

// mobile first 

$breakpoints : ( sm : 20em, mo : 30em, md : 37.5em, tb: 48em, lg : 64em, hd : 75em);